<template>
  <div id="app">
    <div data-idonate-embed="71812b8c-e926-421d-ac34-85cb80ba9a39"></div>
    <button data-watch-cart="1"
            :data-designation-id="designationId"
            :data-designation-amount="designationAmount">
      Give Now
    </button>

    <div>
      <label for="desId">Designation ID</label>
      <input type="text" id="desId" v-model="designationId"/>
    </div>
    <div>
      <label for="desAmount">Designation Amount</label>
      <input type="number" id="desAmount" v-model="designationAmount"/>
    </div>
    <button @click="clear()">Clear Proto</button>
    <div>Designations</div>
    <ul>
      <li>6f826a18-734b-4fa8-a862-53ed6d5c1b62</li>
      <li>9cc2a8c9-a839-4af7-8d24-0499914955b7</li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'app',
  methods: {
    applyDesignation(designationId) {
      this.designationId = designationId;
    },
    applyAmount(amount) {
      this.designationAmount = amount;
    },
    mounted() {
      window.initializeEmbeds();
    },
    clear() {
      delete window.localStorage.proto;
      window.document.cookie = 'proto=; Max-Age=-99999999;'
    }
  },
  data: () => { return {
    designationId: null,
    designationAmount: null,
  }},
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button, div {
  margin-bottom: 15px;
}
</style>
